<!doctype html>
<title>ComicBot</title>

<div class=page>
	<h1>Welcome to ComicBot!</h1>
	<div class=metanav>
		<pre>
{{g.message}}
		</pre>
		
		<p>
		Use 'check' to check this week's ComicList, 'next' to check next week's, 'future' to check the forecasts for DC, Marvel, and Image, 'add' to add something to your pull list, 'remove' to remove from your pull, 'pull' to display your pull list.
		</p>

		<form id='game' method = 'post' action='/'>

			<p>
		What do you want to do?: <input type='text' name='user_input' />
			</p>
			<p>
		<input type='submit' value='Shazam' />
			</p>
		</form>
		
	</div>
</div>